<launch>

  <node name="cloud_to_map" pkg="cloud_to_map" type="cloud_to_map_node" respawn="true" output="screen">  
  <param name="frame" type="str" value="world" />
  <param name="search_radius" type="double" value="0.4" />
  <param name="deviation" type="double" value="0" />
  <param name="buffer" type="int" value="0" />
  <param name="loop_rate" type="double" value="10.0" />
  <param name="cell_resolution" type="double" value="0.1" />
  </node>

  <!--<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"></node>-->
</launch>
